/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/

button,
.button {
	display: inline-block;
	margin: .25em .25em .25em 0;
	padding: 1em 2em;
	cursor: pointer;
	border-radius: 3px;
	border: 3px solid var(--Black);
	background-color: var(--Black);
	font-family: 'Muli';
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: var(--White);
	outline: none;
	transition: all .35s linear;
	&:hover,
	&:focus,
	&.is-hover {
		border-color: var(--BlackHover);
		background-color: var(--BlackHover);
	}
	&:active,
	&.is-active {
		border-color: var(--BlackHover);
		background-color: var(--BlackHover);
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.has-icon {
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: #f8f8ff;
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: -1px;
		}
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-transparent {
		border-color: var(--Black);
		background-color: var(--Black);
		background-clip: padding-box;
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--BlackHover);
			background-color: var(--BlackHover);
		}
		&:active,
		&.is-active {
			border-color: var(--BlackHover);
			background-color: var(--BlackHover);
		}
	}
	&.is-primary {
		border-color: var(--Primary);
		background-color: var(--Primary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--PrimaryHover);
			background-color: var(--PrimaryHover);
		}
		&:active,
		&.is-active {
			border-color: var(--PrimaryHover);
			background-color: var(--PrimaryHover);
		}
	}
	&.is-secondary {
		border-color: var(--Secondary);
		background-color: var(--Secondary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--SecondaryHover);
			background-color: var(--SecondaryHover);
		}
		&:active,
		&.is-active {
			border-color: var(--SecondaryHover);
			background-color: var(--SecondaryHover);
		}
	}
	&.is-tertiary {
		border-color: var(--Tertiary);
		background-color: var(--Tertiary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--TertiaryHover);
			background-color: var(--TertiaryHover);
		}
		&:active,
		&.is-active {
			border-color: var(--TertiaryHover);
			background-color: var(--TertiaryHover);
		}
	}
	&.is-negative {
		border-color: var(--Negative);
		background-color: var(--Negative);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Negative);
			background-color: var(--Negative);
		}
		&:active,
		&.is-active {
			border-color: var(--Negative);
			background-color: var(--Negative);
		}
	}
	&.is-warning {
		border-color: var(--Warning);
		background-color: var(--Warning);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Warning);
			background-color: var(--Warning);
		}
		&:active,
		&.is-active {
			border-color: var(--Warning);
			background-color: var(--Warning);
		}
	}
	&.is-positive {
		border-color: var(--Positive);
		background-color: var(--Positive);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Positive);
			background-color: var(--Positive);
		}
		&:active,
		&.is-active {
			border-color: var(--Positive);
			background-color: var(--Positive);
		}
	}
	/* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-small {
		font-size: .875em;
		padding: .35em .875em;
	}
	&.is-massive {
		font-size: 1.25em;
		padding: 1em 2.25em;
	}
}

/*----------------------------------------------------------------*\
		FLUID MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-fluid {
		width: 100%;
		margin: 0;
	}
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-ghost {
		background-color: transparent;
		color: var(--Black);
		&:hover,
		&:focus,
		&.is-hover {
			color: var(--White);
			border-color: var(--BlackHover);
			background-color: var(--BlackHover);
		}
		&:active,
		&.is-active {
			color: var(--White);
			border-color: var(--BlackHover);
			background-color: var(--BlackHover);
		}
		&.is-primary {
			background-color: transparent;
			color: var(--Primary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--PrimaryHover);
				background-color: var(--PrimaryHover);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--PrimaryHover);
				background-color: var(--PrimaryHover);
			}
		}
		&.is-secondary {
			background-color: transparent;
			color: var(--Secondary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--SecondaryHover);
				background-color: var(--SecondaryHover);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--SecondaryHover);
				background-color: var(--SecondaryHover);
			}
		}
		&.is-tertiary {
			background-color: transparent;
			color: var(--Tertiary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--TertiaryHover);
				background-color: var(--TertiaryHover);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--TertiaryHover);
				background-color: var(--TertiaryHover);
			}
		}
		&.is-negative {
			background-color: transparent;
			color: var(--Negative);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--Negative);
				background-color: var(--Negative);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--Negative);
				background-color: var(--Negative);
			}
		}
		&.is-warning {
			background-color: transparent;
			color: var(--Warning);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--Warning);
				background-color: var(--Warning);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--Warning);
				background-color: var(--Warning);
			}
		}
		&.is-positive {
			background-color: transparent;
			color: var(--Positive);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--Positive);
				background-color: var(--Positive);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--Positive);
				background-color: var(--Positive);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		BORDERLESS MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-borderless {
		background-color: transparent;
		border-color: transparent;
		color: var(--Black);
		&:hover,
		&:focus,
		&.is-hover {
			background-color: transparent;
			border-color: transparent;
			color: var(--BlackHover);
		}
		&:active,
		&.is-active {
			background-color: transparent;
			border-color: transparent;
			color: var(--BlackHover);
		}
		&:first-of-type {
			padding-left: 0;
		}
		&.is-primary {
			background-color: transparent;
			border-color: transparent;
			color: var(--Primary);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: var(--PrimaryHover);
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: var(--PrimaryHover);
			}
		}
		&.is-secondary {
			background-color: transparent;
			border-color: transparent;
			color: var(--Secondary);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: var(--SecondaryHover);
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: var(--SecondaryHover);
			}
		}
		&.is-tertiary {
			background-color: transparent;
			border-color: transparent;
			color: var(--Tertiary);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: var(--TertiaryHover);
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: var(--TertiaryHover);
			}
		}
		&.is-negative {
			background-color: transparent;
			border-color: transparent;
			color: var(--Negative);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: var(--Negative);
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: var(--Negative);
			}
		}
		&.is-warning {
			background-color: transparent;
			border-color: transparent;
			color: var(--Warning);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: var(--Warning);
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: var(--Warning);
			}
		}
		&.is-positive {
			background-color: transparent;
			border-color: transparent;
			color: var(--Positive);
			&:hover,
			&:focus,
			&.is-hover {
				background-color: transparent;
				border-color: transparent;
				color: var(--Positive);
			}
			&:active,
			&.is-active {
				background-color: transparent;
				border-color: transparent;
				color: var(--Positive);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
	&.is-icon {
		padding: .5em;
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 50px;
			width: 50px;
			fill: transparent;
		}
		&.is-small {
			padding: .25em;
			& img,
			& svg {
				height: 35px;
				width: 35px;
			}
		}
		&.is-massive {
			& img,
			& svg {
				height: 75px;
				width: 75px;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		GROUPED BUTTONS
\*----------------------------------------------------------------*/

.buttons {
	& button,
	& .button {
		margin-top: 0;
		margin-bottom: 0;
	}
	&.are-grouped {
		display: flex;
		button,
		.button {
			margin-right: 0;
			white-space: nowrap;
			flex: 1;
			&:first-child {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			&:last-child {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}
	&.button_content {
		margin: 25px auto;
	}
}