/*----------------------------------------------------------------*\
	STANDARD CHIP
\*----------------------------------------------------------------*/

.chip {
	display: inline-block;
	margin: .25em 0;
	padding: .2em .55em;
	border-radius: 2em;
	border: 1px solid var(--Black);
	background-color: var(--Black);
	font-family: 'Muli';
	text-decoration: none;
	text-align: center;
	color: var(--White);
	outline: none;
	transition: all .35s linear;
	&:hover,
	&:focus,
	&.is-hover {
		border-color: var(--BlackHover);
		background-color: var(--BlackHover);
	}
	&:active,
	&.is-active {
		border-color: var(--BlackHover);
		background-color: var(--BlackHover);
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

.chip {
	&.has-icon {
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-bottom;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: #f8f8ff;
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: 0;
		}
	}
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

.chip {
	&.is-primary {
		border-color: var(--Primary);
		background-color: var(--Primary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--PrimaryHover);
			background-color: var(--PrimaryHover);
		}
		&:active,
		&.is-active {
			border-color: var(--PrimaryHover);
			background-color: var(--PrimaryHover);
		}
	}
	&.is-secondary {
		border-color: var(--Secondary);
		background-color: var(--Secondary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--SecondaryHover);
			background-color: var(--SecondaryHover);
		}
		&:active,
		&.is-active {
			border-color: var(--SecondaryHover);
			background-color: var(--SecondaryHover);
		}
	}
	&.is-tertiary {
		border-color: var(--Tertiary);
		background-color: var(--Tertiary);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--TertiaryHover);
			background-color: var(--TertiaryHover);
		}
		&:active,
		&.is-active {
			border-color: var(--TertiaryHover);
			background-color: var(--TertiaryHover);
		}
	}
	&.is-negative {
		border-color: var(--Negative);
		background-color: var(--Negative);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Negative);
			background-color: var(--Negative);
		}
		&:active,
		&.is-active {
			border-color: var(--Negative);
			background-color: var(--Negative);
		}
	}
	&.is-warning {
		border-color: var(--Warning);
		background-color: var(--Warning);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Warning);
			background-color: var(--Warning);
		}
		&:active,
		&.is-active {
			border-color: var(--Warning);
			background-color: var(--Warning);
		}
	}
	&.is-positive {
		border-color: var(--Positive);
		background-color: var(--Positive);
		&:hover,
		&:focus,
		&.is-hover {
			border-color: var(--Positive);
			background-color: var(--Positive);
		}
		&:active,
		&.is-active {
			border-color: var(--Positive);
			background-color: var(--Positive);
		}
	}
	/* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		GHOST MODIFIER
\*----------------------------------------------------------------*/

.chip {
	&.is-ghost {
		background-color: transparent;
		color: var(--Black);
		&:hover,
		&:focus,
		&.is-hover {
			color: var(--White);
			border-color: var(--BlackHover);
			background-color: var(--BlackHover);
		}
		&:active,
		&.is-active {
			color: var(--White);
			border-color: var(--BlackHover);
			background-color: var(--BlackHover);
		}
		&.is-primary {
			background-color: transparent;
			color: var(--Primary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--PrimaryHover);
				background-color: var(--PrimaryHover);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--PrimaryHover);
				background-color: var(--PrimaryHover);
			}
		}
		&.is-secondary {
			background-color: transparent;
			color: var(--Secondary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--SecondaryHover);
				background-color: var(--SecondaryHover);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--SecondaryHover);
				background-color: var(--SecondaryHover);
			}
		}
		&.is-tertiary {
			background-color: transparent;
			color: var(--Tertiary);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--TertiaryHover);
				background-color: var(--TertiaryHover);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--TertiaryHover);
				background-color: var(--TertiaryHover);
			}
		}
		&.is-negative {
			background-color: transparent;
			color: var(--Negative);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--Negative);
				background-color: var(--Negative);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--Negative);
				background-color: var(--Negative);
			}
		}
		&.is-warning {
			background-color: transparent;
			color: var(--Warning);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--Warning);
				background-color: var(--Warning);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--Warning);
				background-color: var(--Warning);
			}
		}
		&.is-positive {
			background-color: transparent;
			color: var(--Positive);
			&:hover,
			&:focus,
			&.is-hover {
				color: var(--White);
				border-color: var(--Positive);
				background-color: var(--Positive);
			}
			&:active,
			&.is-active {
				color: var(--White);
				border-color: var(--Positive);
				background-color: var(--Positive);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

.chip {
	&.is-icon {
		padding: .5em;
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 2em;
			width: 2em;
			stroke: #f8f8ff;
			fill: transparent;
		}
	}
}

/*----------------------------------------------------------------*\
		CORNER MODIFIER
\*----------------------------------------------------------------*/

.chip {
	&.on-corner {
		width: 0;
		height: 0;
		margin: 0;
		padding: 0;
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-top: 100px solid var(--Black);
		border-left: 100px solid transparent;
		position: absolute;
		top: 0;
		right: 0;
		& img,
		& svg {
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			position: relative;
			top: -85px;
			left: -45px;
		}
	}
}

/*----------------------------------------------------------------*\
		GROUPED CHIPS
\*----------------------------------------------------------------*/

.chips {
	&.are-stacked {
		.chip {
			margin: 0 0 .5em 0;
			display: table;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}