/*----------------------------------------------------------------*\
	GRIDS
\*----------------------------------------------------------------*/

.grid {
	display: grid;
	grid-column-gap: 2%;
	grid-row-gap: 3vh;
	grid-template-columns: 100%;
	@media(--500vp) {
		&.has-two-column {
			grid-template-columns: repeat(auto-fit, 49%);
		}
	}
	@media(--800vp) {
		&.has-four-column,
		&.has-five-column {
			grid-template-columns: repeat(auto-fit, 49%);
		}
		&.has-three-column,
		&.has-six-column {
			grid-template-columns: repeat(auto-fit, 32%);
		}
	}
	@media(--1024vp) {
		&.has-four-column {
			grid-template-columns: repeat(auto-fit, 23.5%);
		}
		&.has-five-column {
			grid-template-columns: repeat(auto-fit, 18%);
		}
		&.has-six-column {
			grid-template-columns: repeat(auto-fit, 15%);
		}
	}
}