/*----------------------------------------------------------------*\
		TABLES
\*----------------------------------------------------------------*/

table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	& tr {
		background-color: var(--White);
		&:nth-child(odd) {
			background-color: var(--LightGrey);
		}
		& th,
		& td {
			border: 1px solid var(--Black);
			padding: .5em 1em;
		}
		& th {
			font-family: 'clear_sans_thinregular';
			line-height: 1.75;
			background-color: var(--Primary);
			color: white;
			text-transform: uppercase;
		}
		& td {
			font-family: 'Muli';
		}
	}
}