/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'clear_sans_thinregular';
	src: url('../fonts/ClearSans-Thin.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	font-family: 'clear_sans_thinregular';
	font-weight: normal;
}

h1 {
	font-size: 50px;
	@media(--500vp) {
		font-size: 48px;
	}
}

h2 {
	font-size: 30px;
	@media(--500vp) {
		font-size: 48px;
	}
}

h3 {
	font-size: 20px;
	@media(--500vp) {
		font-size: 24px;
	}
}

h4 {
	font-size: 18px;
	@media(--500vp) {
		font-size: 22px;
	}
}

/*----------------------------------------------------------------*\
		SUBHEADERS
\*----------------------------------------------------------------*/

h1.has-subheader,
h2.has-subheader,
h3.has-subheader,
h4.has-subheader {
	margin-bottom: 0;
	&+.subheader {
		font-family: 'clear_sans_thinregular';
		margin: .5em 0;
		font-size: 1.5em;
		line-height: 1.3;
	}
}

/*----------------------------------------------------------------*\
		HAS ICON MODIFIER
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	&.has-icon {
		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: var(--Black);
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: -1px;
		}
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	border: 0;
	height: 2px;
	margin: .875em 0;
	background-color: var(--Grey);
}

p,
span,
time,
address {
	font-family: 'Muli';
	font-size: 1em;
	line-height: 1.5;
}

strong,
b {
	font-family: 'Muli';
}

p a {
	font-size: inherit;
	color: var(--Primary);
	text-decoration: underline;
}

p.is-two-column {
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid var(--Grey);
}

p.is-three-column {
	column-count: 3;
	column-gap: 40px;
	column-rule: 1px solid var(--Grey);
}

p.is-four-column {
	column-count: 4;
	column-gap: 40px;
	column-rule: 1px solid var(--Grey);
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	width: 95%;
	max-width: 800px;
	margin: 20px auto;
	padding: 1em;
	border-left: 3px solid var(--DarkGrey);
	&>*:first-child {
		margin-top: 0;
	}
	&>*:last-child {
		margin-bottom: 0;
	}
	& p {
		color: var(--DarkGrey);
		font-size: 1.15em;
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: .875em;
}