/*----------------------------------------------------------------*\
	BANNERS
\*----------------------------------------------------------------*/

.banner {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
		background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
	}
	&>section {
		position: relative;
		text-align: left;
		z-index: 2;
		&>*:first-child {
			margin-top: 0;
		}
		&>*:last-child {
			margin-bottom: 0;
		}
		& h2,
		& h3,
		& h4,
		& h5,
		& p,
		& p.subheader {
			color: var(--White);
			max-width: 650px;
		}
		& p,
		& p.subheader {
			font-size: 1.25em;
			@media(--500vp) {
				font-size: 1.5em;
			}
		}
		& .buttons {
			margin-top: 25px;
		}
	}
}