/*----------------------------------------------------------------*\
	CARDS
\*----------------------------------------------------------------*/
.cards {
	&>h2 {
		width: 100%;
		text-align: center;
	}

	& .flip-container {
		perspective: 1000px;
	}

	& .flip-container:hover .flipper,
	& .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

	& .flip-container,
	& .front,
	& .back {
		width: 100%;
		height: 300px;
	}

	/* flip speed goes here */
	& .flipper {
		transition: 0.6s;
		transform-style: preserve-3d;
		position: relative;
	}

	/* hide back of pane during swap */
	& .front,
	& .back {
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		background-color: var(--LightGrey);
		padding: 2em;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	/* front pane, placed above back */
	& .front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	}

	/* back, initially hidden pane */
	& .back {
		transform: rotateY(180deg);
	}

	& .flip-container:hover .flipper,
	& .flip-container.hover .flipper,
	& .flip-container.flip .flipper {
		transform: rotateY(180deg);
	}
}

.card-container .card {
	background-color: var(--LightGrey);
	padding: 2em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;

	& h3 {
		margin-top: 0;
	}
}