/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/
footer.page-footer {
	background-color: var(--Black);
	color: var(--White);
	overflow: hidden;
	position: relative;

	& .section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&>div {
			width: 100%;

			@media(--800vp) {
				width: 50%;
			}
		}
	}

	& .logo {
		order: 1;
		padding: 0;
		text-align: center;

		@media(--800vp) {
			padding: 2em 0;
			border-bottom: 1px solid var(--White);
			order: 0;
			text-align: initial;
		}

		& img {
			margin: 0 auto;
			display: block;
			width: 275px;

			@media(--800vp) {
				margin: 0;
			}
		}
	}

	& .social {
		order: 3;
		display: flex;
		justify-content: center;
		margin: 0 0 3em 0;

		@media(--800vp) {
			order: 0;
			margin: 0;
			justify-content: flex-end;
			border-bottom: 1px solid var(--White);
		}

		& .widget_media_image {
			padding: 0 1em;
			display: flex;
			justify-content: center;
			align-items: center;

			&:first-child {
				padding: 0 1em 0 0;
			}

			&:last-child {
				padding: 0 0 0 1em;
			}

			& img {
				width: 45px;
			}
		}
	}

	& .nav {
		order: 2;
		margin: 2em 0;
		text-align: center;

		@media(--800vp) {
			order: 0;
			text-align: initial;
		}

		& ul {
			column-count: 2;
			list-style: none;
			padding: 0;

			& a {
				color: var(--White);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}

	& .life-insurance {
		order: 6;

		@media(--800vp) {
			order: 0;
		}

		& p {
			background: rgba(255, 255, 255, .15);
			padding: 3rem;
			text-align: center;
		}
	}

	& .brokercheck {
		order: 4;
		text-align: center;

		@media(--800vp) {
			order: 0;
			text-align: initial;
		}

		& img {
			width: 200px;
		}
	}

	& .copyright {
		order: 8;
		text-align: center;

		@media(--800vp) {
			order: 0;
			text-align: right;
		}

		& p {
			display: block;
			font-size: .875em;

			@media(--800vp) {
				display: inline-block;
				font-size: .7em;
			}
		}

		& nav {
			display: inline-block;

			& ul {
				list-style: none;
				padding: 0;
				margin: 0;
				display: inline-block;

				& li {
					display: inline-block;
					line-height: 1.3;

					&:last-child a {
						padding-right: 0;
						border: none;
					}

					& a {
						color: var(--White);
						text-decoration: none;
						text-transform: none;
						font-size: .875em;
						padding: 0 .35em;
						border-right: 1px solid var(--White);

						@media(--800vp) {
							font-size: .7em;
						}

						&:hover,
						&:focus {
							text-decoration: underline;
							background-color: transparent;
						}
					}
				}
			}
		}
	}

	& .stock-ticker {
		order: 7;
		width: 100% !important;
		background-color: var(--Black);
		color: var(--White);
		overflow: hidden;
		padding: var(--SmallSpacing) 0;

		@media(--800vp) {
			order: 0;
		}
	}
}

/*----------------------------------------------------------------*\
	Element5 credit
\*----------------------------------------------------------------*/
.e5-credit {
	position: initial;
	order: 3;
	margin: 0 0 3em 0;
	width: 100% !important;

	@media(--800vp) {
		position: absolute;
		top: 50%;
		right: 0;
		width: auto !important;
	}

	& #element5-credit {
		text-align: center;
		overflow: hidden;

		@media(--800vp) {
			transform: translateY(calc(-100% - 25px));
		}

		& img {
			transform: translateX(100%);
			transition: all .35s linear;
		}

		&[data-emergence=visible] img {
			transform: translateX(0);
		}
	}
}

/*----------------------------------------------------------------*\
	FAQ
\*----------------------------------------------------------------*/
.faq-contact {
	background-color: var(--LightGrey);

	& h2 {
		text-align: center;
	}

	& .flex-contain {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

		@media(--800vp) {
			flex-wrap: initial;
		}
	}

	& .faq {
		min-width: 100%;

		@media(--800vp) {
			min-width: 60%;
			padding-right: 8%;
		}

		& .question {
			padding: var(--SmallSpacing);
			border-bottom: 1px solid var(--Primary);
			background-color: transparent;
			box-shadow: none;
			margin-bottom: 0;
			position: relative;
			cursor: pointer;

			@media(--500vp) {
				padding: var(--SmallSpacing) var(--LargeSpacing);
			}

			&>*:first-child {
				margin-top: 0;
				margin-bottom: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}

			&:hover,
			&:focus {
				background-color: var(--Grey);
			}

			& .answer {
				display: block;
				max-height: 0;
				overflow: hidden;
				transition: all .5s linear;
			}

			&>svg {
				position: absolute;
				top: 50%;
				right: 1em;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;
				fill: var(--Primary);
			}

			&.is-active {
				& .answer {
					max-height: 800px;
				}

				&>svg {
					transform: rotate(180deg);
				}
			}
		}
	}

	& .contact {
		& form {

			& input,
			& textarea,
			& select {
				background-color: var(--White);
				border-color: var(--White);

				&.LV_invalid_field {
					border-color: var(--Negative);
				}
			}

			& input[type="checkbox"]:checked,
			& input[type="radio"]:checked {
				background-color: var(--Primary);
			}

			& button {
				width: 100%;
			}
		}
	}
}