/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: auto;
	min-height: 40vh;
	align-items: center;
	display: flex;
	position: relative;
	color: var(--White);
	background-color: var(--Primary);
	background-image: url(../images/generic-header.jpg);
	&>.block {
		position: relative;
		z-index: 3;
		padding: var(--Spacing) 35px;
		& h1,
		& p {
			max-width: 600px;
		}
		&>*:first-child {
			margin-top: 0;
		}
		&>*:last-child {
			margin-bottom: 0;
		}
	}
}

/*----------------------------------------------------------------*\
	IMAGE PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	&.has-image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		color: var(--Black);
		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 0) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 0) 100%);
			background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
		}
	}
}

/*----------------------------------------------------------------*\
	VIDEO PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	&.has-video {
		min-height: 60vh;
		overflow: hidden;
		color: var(--Black);
		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: .6;
			background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 0) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 0) 100%);
			background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
		}
		& video {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			width: auto;
			height: auto;
		}
	}
}