/*----------------------------------------------------------------*\
	QUESTIONS
\*----------------------------------------------------------------*/

.question {
	box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.09);
	background-color: var(--White);
	width: 100%;
	padding: var(--Spacing) var(--SmallSpacing);
	margin-bottom: var(--Spacing);
	border-radius: 2px;
	@media(--500vp) {
		padding: var(--Spacing) var(--LargeSpacing);
	}
	& h2 {
		margin: 0 0 .6em 0;
		font-size: 30px;
		color: var(--Primary);
		@media(--500vp) {
			font-size: 36px;
		}
	}
}