/*----------------------------------------------------------------*\
	RELATED POSTS
\*----------------------------------------------------------------*/

.related-posts {
	margin: 2rem 0;
	background-color: transparent;
	justify-content: center;
	& h3 {
		font-family: Muli;
		color: #394f67;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
	}
	& .grid {
		& a:first-child {
			padding: .5em;
		}
	}
}