/*----------------------------------------------------------------*\
	STEPS
\*----------------------------------------------------------------*/

.step {
	position: relative;
	text-align: center;
	& img {
		padding: 0 var(--Spacing);
	}
	& p {
		padding: 0 var(--SmallSpacing);
	}
	&::after {
		content: '';
		width: 60px;
		height: 24px;
		background-image: url(../images/step_arrow.svg);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 90px;
		left: calc(100% - 20px);
		display: none;
		@media(--800vp) {
			display: block;
		}
	}
	&:last-child::after {
		display: none;
	}
}