/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSS Style: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--SmallWidth: 940px;
	--Width: 1024px;
	--LargeWidth: 1200px;
	--LargeSpacing: 75px;
	--Spacing: 50px;
	--SmallSpacing: 35px;
	/* COLORS */
	--Primary: #00A0E0;
	--PrimaryHover: #1abdff;
	--Secondary: #00A0E0;
	--SecondaryHover: #1abdff;
	--Tertiary: #00A0E0;
	--TertiaryHover: #1abdff;
	--Positive: #68DD9F;
	--Warning: #FFC77A;
	--Negative: #ff6666;
	--White: #ffffff;
	--LightGrey: #F1F1F1;
	--Grey: #E2E3E8;
	--DarkGrey: #9FB0C2;
	--Black: #000000;
	--BlackHover: #262626;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1024vp (min-width: 1026px);
@custom-media --1200vp (min-width: 1200px);
div {
	@media(--500vp) {
		box-sizing: inherit;
	}
	@media(--800vp) {
		box-sizing: inherit;
	}
	@media(--1024vp) {
		box-sizing: inherit;
	}
	@media(--1200vp) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 16px;
	background: var(--White);
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*----------------------------------------------------------------*\
		WORDPRESS CLASSES
\*----------------------------------------------------------------*/

section {
	&>h2:first-child {
		margin-top: 0;
		width: 100%;
		&>p.subheader {
			width: 100%;
		}
	}
	& img {
		max-width: 100%;
		height: auto;
		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}
		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}
		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}

/*----------------------------------------------------------------*\
		SECTION SIZING
\*----------------------------------------------------------------*/

section,
.section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	&.is-large-width {
		max-width: var(--LargeWidth);
	}
	&.is-standard-width {
		max-width: var(--Width);
		@media(--1200vp) {
			padding-left: 3vw;
			padding-right: 3vw;
		}
	}
	&.is-small-width {
		max-width: var(--SmallWidth);
		@media(--1024vp) {
			padding-left: 3vw;
			padding-right: 3vw;
		}
	}
	&.has-large-spacing {
		padding: var(--LargeSpacing) 3vw;
	}
	&.has-standard-spacing {
		padding: var(--Spacing) 3vw;
	}
	&.has-small-spacing {
		padding: var(--SmallSpacing) 3vw;
	}
}