/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO ARCHIVES

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/

.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
}

.feed {
	width: 90vw;
}

.feed.grid.has-two-column {
	grid-row-gap: var(--Spacing);
}

.load-more {
	display: none;
	margin: var(--Spacing) auto;
}

/*----------------------------------------------------------------*\
	CATEGORY NAVIGATION
\*----------------------------------------------------------------*/

nav.categories {
	background-color: var(--Grey);
	margin-bottom: var(--LargeSpacing);
	& ul {
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: var(--Width);
		padding: 0 3vw;
		& li {
			width: 100%;
			@media(--500vp) {
				width: auto;
				&:first-child a {
					margin-left: 0;
				}
				&:last-child a {
					margin-right: 0;
				}
			}
			&.current-cat a {
				background-color: transparent;
				color: var(--Black);
				&::after {
					background-color: var(--Primary);
				}
			}
		}
		& a {
			background-color: transparent;
			color: var(--Black);
			position: relative;
			padding: .5em 0;
			margin: 0 1.35em;
			font-weight: bold;
			letter-spacing: 1px;
			text-align: center;
			&::after {
				content: '';
				position: absolute;
				height: 6px;
				width: 100%;
				bottom: 0;
				left: 0;
				background-color: transparent;
				transition: all .35s linear;
			}
			&:hover,
			&:focus {
				background-color: transparent;
				color: var(--Black);
				&::after {
					background-color: var(--Primary);
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	CLOSING STATEMENT
\*----------------------------------------------------------------*/

.closeing-statement {
	background-color: var(--Black);
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		text-align: center;
		color: var(--White);
	}
	& p {
		color: var(--White);
	}
	& .grid {
		padding: var(--SmallSpacing) 0;
		background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/logo_mark.svg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		@media(--500vp) {
			background-image: url(../images/logo_mark.svg);
		}
		div {
			padding: 0 var(--SmallSpacing);
		}
	}
}

/*----------------------------------------------------------------*\
	TEAM
\*----------------------------------------------------------------*/

.team-members.feed.grid.has-three-column {
	grid-template-columns: 100%;
	@media(--500vp) {
		grid-template-columns: repeat(auto-fit, 49%);
	}
	@media(--1024vp) {
		grid-template-columns: repeat(auto-fit, 32%);
	}
}

/*----------------------------------------------------------------*\
	SEARCH RESULTS
\*----------------------------------------------------------------*/

.feed-search {
	& .result {
		box-shadow: 0 6px 28px 0 rgba(0, 0, 0, .09);
		background-color: var(--White);
		width: 100%;
		padding: var(--Spacing) var(--SmallSpacing);
		margin-bottom: var(--Spacing);
		border-radius: 2px;
		display: block;
		text-decoration: none;
		color: var(--Black);
		@media(--500vp) {
			padding: var(--Spacing) var(--LargeSpacing);
		}
		& h2 {
			margin: 0 0 .6em 0;
			font-size: 30px;
			color: var(--Primary);
			@media(--500vp) {
				font-size: 36px;
			}
		}
		& span.search-term {
			border-bottom: 2px solid var(--Primary);
		}
		& form input {
			max-width: calc(100% - 155px);
		}
	}
}

.search .load-more {
	margin: 0 auto;
}