/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FRONT PAGE

\*----------------------------------------------------------------*/
/*----------------------------------------------------------------*\
	HEADER
\*----------------------------------------------------------------*/
.home .page-title {
	flex-wrap: wrap;

	&>section {
		padding: 100px 3vw;
	}

	& h1 {
		font-size: 34px;
		max-width: 650px;

		@media(--500vp) {
			font-size: 48px;
		}
	}

	& .links {
		border-top: 4px solid var(--LightGrey);
		position: relative;
		z-index: 10;
		width: 100%;
		padding: 0;
		background: rgba(0, 0, 0, .15);

		@media(--500vp) {
			display: flex;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: calc(50% - 2px);
			width: 100%;
			height: 2px;
			background-color: var(--LightGrey);
			z-index: 10;

			@media(--500vp) {
				left: calc(50% - 2px);
				top: 0;
				width: 4px;
				height: 100%;
			}
		}

		& .link {
			width: 100%;
			position: relative;

			@media(--500vp) {
				width: 50%;
			}

			& a {
				color: var(--Black);
				text-decoration: none;
				width: 600px;
				max-width: 100%;
				display: block;
				float: right;
				padding: 1em var(--LargeSpacing) 1em 3vw;

				@media(--500vp) {
					padding: var(--SmallSpacing) var(--LargeSpacing) var(--SmallSpacing) 3vw;
				}

				& h2 {
					margin: 0;
					font-size: 28px;
					position: relative;
					z-index: 10;

					@media(--500vp) {
						font-size: 36px;
					}

					&::after {
						content: '';
						position: absolute;
						right: -1em;
						top: 50%;
						transform: translateX(-50%);
						height: 20px;
						width: 20px;
						background-image: url(../images/arrow-right-link.svg);
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						z-index: 10;

						@media(--500vp) {
							opacity: 0;
						}
					}
				}

				& p {
					font-size: 1em;
					font-weight: bold;
					letter-spacing: 1px;
					position: relative;
					z-index: 10;
					max-width: 300px;

					@media(--500vp) {
						font-size: 20px;
						max-width: 100%;
					}
				}

				& .overlay {
					background: var(--Black);
					opacity: 0;
					transition: all .5s linear;
				}

				&:hover,
				&:focus {
					color: var(--White);

					& h2::after {
						opacity: 1;
					}

					& .overlay {
						opacity: .75;
					}
				}
			}

			@media(--500vp) {
				&:last-child a {
					float: left;
					padding: var(--SmallSpacing) 3vw var(--SmallSpacing) var(--LargeSpacing);
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	CONTACT SECTION
\*----------------------------------------------------------------*/
section.contact-simple {
	background-color: var(--LightGrey);

	& h2 {
		color: var(--Primary);
		text-align: center;
		margin-top: 0;
	}

	& form {
		max-width: 600px;

		& input,
		& textarea,
		& select {
			background-color: var(--White);
			border-color: var(--White);

			&.LV_invalid_field {
				border-color: var(--Negative);
			}
		}

		& textarea {
			height: 100px;
		}

		& input[type="checkbox"]:checked,
		& input[type="radio"]:checked {
			background-color: var(--Primary);
		}

		& button {
			display: table;
			margin: 1em auto 0 auto;
			background-color: var(--Primary);
			border-color: var(--Primary);
			padding: 1em 2.25em;

			&:hover,
			&:focus {
				background-color: var(--PrimaryHover);
				border-color: var(--PrimaryHover);
			}
		}
	}
}