/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE HOME TEMPLATE

\*----------------------------------------------------------------*/

.page-block {
	&.is-home {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		&>header,
		&>footer,
		&>main {
			grid-column: 1 / span 5;
			order: 1;
		}
	}
}