/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SINGLE BLOG POST 

\*----------------------------------------------------------------*/

.single-post .page-title {
	background-color: transparent;
	&>section {
		padding-bottom: 1em;
	}
	& h1 {
		color: var(--Black);
	}
}

.single-post article h3 {
	font-family: Muli;
	color: #394F67;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#comments {
	padding: 0 3vw;
	max-width: var(--Width);
	margin: 0 auto;
}

.wpdiscuz-front-actions {
	padding: 0;
}

#wpcomm .avatar {
	box-shadow: none;
}

#wpcomm .wc-field-textarea textarea {
	display: block;
}

#wpcomm .wc-blog-guest>.wc-comment-left .wc-comment-label {
	box-shadow: none;
	border-bottom: 0 !important;
}

#wpcomm .wpdiscuz-item.wpd-field-checkbox.wpd-field-single .wpd-field {
	width: 20px;
}

#wc-comment-header .wpdiscuz-comment-count {
	display: none;
}