/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SINGLE TEAM MEMBER POST

\*----------------------------------------------------------------*/
/*----------------------------------------------------------------*\
	TEAM MEMBER TITLES
\*----------------------------------------------------------------*/
.single-team-member header.page-title.has-image {
	background-position: right top;
	min-height: 60vh;

	& h1 {
		transform: translateX(-10px);
	}

	& p.subheader {
		font-family: Muli;
		color: #394F67;
		letter-spacing: 1px;
		font-weight: bold;
		text-transform: uppercase;
	}

	& .contact-buttons {
		& .button {
			margin: 0;
			padding: 0;
		}
	}

	& .block>a>img {
		max-width: 150px;
		margin-top: 75px;
	}

	& .overlay {
		background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 11%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
	}
}

/*----------------------------------------------------------------*\
	POST
\*----------------------------------------------------------------*/
.single-team-member article {
	box-shadow: 0 6px 28px 0 rgba(0, 0, 0, 0.09);
	width: var(--Width);
	max-width: 90vw;
	margin: var(--Spacing) auto;
	border-radius: 2px;

	& section {
		padding: var(--Spacing) 35px;
	}

	& .contact-buttons {
		text-align: center;
		padding-bottom: var(--Spacing);
	}
}

.single-team-member .links {
	border-top: 1px solid var(--Primary);
	position: relative;
	padding: 0;

	@media(--500vp) {
		padding: var(--SmallSpacing) 3vw;
	}

	& .section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0;

		@media(--500vp) {
			text-align: inherit;
		}

		& .previous {
			width: 100%;

			@media(--500vp) {
				width: auto;
			}
		}

		& .next {
			width: 100%;
			text-align: right;

			@media(--500vp) {
				text-align: inherit;
				width: auto;
			}
		}
	}

	&::after {
		content: '';
		position: absolute;
		background-color: var(--Primary);
		width: 100%;
		height: 1px;
		top: 50%;
		left: 0;

		@media(--500vp) {
			top: 0;
			height: 100%;
			left: 50%;
			width: 1px;
		}
	}

	& a {
		font-family: clear_sans_thinregular;
		font-weight: 400;
		text-decoration: none;
		font-size: 24px;
		color: var(--Black);

		&:hover,
		&:focus {
			text-decoration: underline;
			color: var(--Black);
		}

		& svg {
			width: 2em;
			height: 2em;
			display: inline-block;
			vertical-align: middle;
			fill: var(--Primary);
		}
	}
}