/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE STANDARD TEMPLATES
	left siddebar, right sidebar, both sidebar, 404, thank you

\*----------------------------------------------------------------*/

main,
article {
	position: relative;
}

/*----------------------------------------------------------------*\
	FULL WIDTH
\*----------------------------------------------------------------*/

.page-block {
	&.is-full-width {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		&>header,
		&>footer,
		&>main,
		&>section {
			grid-column: 1 / span 5;
			order: 1;
		}
	}
}

/*----------------------------------------------------------------*\
	SIDEBAR RIGHT
\*----------------------------------------------------------------*/

.page-block {
	&.has-right-sidebar {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		&>header,
		&>footer,
		&>main,
		&>aside {
			grid-column: 1 / span 5;
			order: 1;
		}
		&>aside {
			padding: var(--Spacing) 3vw;
		}
		@media(--800vp) {
			grid-template-columns: 0 auto auto 350px 0;
			&>main {
				grid-column: 2 / span 2;
				order: 1;
			}
			&>aside {
				grid-column: 4 / span 1;
				order: 2;
			}
			&>footer {
				order: 3;
			}
		}
		@media(--1024vp) {
			grid-template-columns: auto 337px 337px 350px auto;
			&>aside {
				padding: var(--Spacing) 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SIDEBAR LEFT
\*----------------------------------------------------------------*/

.page-block {
	&.has-left-sidebar {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		&>header,
		&>footer,
		&>main,
		&>aside {
			grid-column: 1 / span 5;
			order: 1;
		}
		&>aside {
			padding: var(--Spacing) 3vw;
		}
		@media(--800vp) {
			grid-template-columns: 0 350px auto auto 0;
			&>main {
				grid-column: 3 / span 2;
				order: 2;
			}
			&>aside {
				grid-column: 2 / span 1;
				order: 1;
			}
			&>footer {
				order: 3;
			}
		}
		@media(--1024vp) {
			grid-template-columns: auto 350px 337px 337px auto;
			&>aside {
				padding: var(--Spacing) 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SIDEBAR BOTH
\*----------------------------------------------------------------*/

.page-block {
	&.has-both-sidebar {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		&>header,
		&>footer,
		&>main,
		&>aside {
			grid-column: 1 / span 5;
			order: 1;
		}
		&>aside {
			padding: var(--Spacing) 3vw;
		}
		@media(--800vp) {
			grid-template-columns: 0 212px auto 212px 0;
			&>main {
				grid-column: 3 / span 1;
				order: 2;
			}
			&>aside {
				&:first-of-type {
					grid-column: 2 / span 1;
					order: 1;
					padding: var(--Spacing) 1.5vw var(--Spacing) 0;
				}
				&:last-of-type {
					grid-column: 4 / span 1;
					order: 3;
					padding: var(--Spacing) 0 var(--Spacing) 1.5vw;
				}
			}
			&>footer {
				order: 4;
			}
		}
		@media(--1024vp) {
			grid-template-columns: auto 212px 600px 212px auto;
		}
	}
}

/*----------------------------------------------------------------*\
	404
\*----------------------------------------------------------------*/

body.error404 {
	& article {
		height: calc(100vh - 140px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: var(--Black);
		& section {
			color: var(--White);
		}
		& h1 {
			margin-top: 0;
			color: var(--White);
			font-size: responsive 55px 80px;
			font-range: 420px 1400px;
			text-transform: uppercase;
		}
		p.subheader {
			color: var(--White);
			font-size: 1.5em;
		}
		& .buttons {
			margin-top: 50px;
		}
	}
}

/*----------------------------------------------------------------*\
	THANK YOU
\*----------------------------------------------------------------*/

body.page-template-thankyou {
	& article {
		height: calc(100vh - 140px);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		& section {
			max-width: 600px;
		}
		& img {
			max-width: 400px;
		}
		& h1 {
			margin-top: 0;
			font-size: responsive 55px 80px;
			font-range: 420px 1400px;
			text-transform: uppercase;
		}
		p.subheader {
			font-size: 1.5em;
		}
		& .buttons {
			margin-top: 50px;
		}
	}
}