/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav {
	& ul {
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& li {
			list-style: none;
			& a {
				display: block;
				padding: .5em 1.35em;
				text-decoration: none;
				text-transform: uppercase;
				color: var(--Primary);
				transition: all .35s linear;
				&:hover,
				&:focus {
					background-color: var(--PrimaryHover);
					color: var(--White);
				}
				&:active {
					background-color: var(--PrimaryHover);
					color: var(--White);
				}
			}
			&.current_page_item a,
			&.current-page-ancestor a {
				background-color: var(--PrimaryHover);
				color: var(--White);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAS DROPDOWN MODIFIER
\*----------------------------------------------------------------*/

nav {
	position: relative;
	z-index: 10000;
	& ul li.menu-item-has-children {
		position: relative;
		&:hover,
		&:focus {
			ul.sub-menu {
				opacity: 1;
				top: 100%;
			}
		}
		& ul.sub-menu {
			display: block;
			position: absolute;
			width: 200%;
			max-width: 200px;
			opacity: 0;
			top: calc(100% - 10px);
			transition: all .35s linear;
			& li {
				& a {
					display: block;
					background: var(--Primary);
					color: var(--White);
					&:hover,
					&:focus {
						background-color: var(--PrimaryHover);
					}
					&:active {
						background-color: var(--PrimaryHover);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		STACKED MODIFIER
\*----------------------------------------------------------------*/

nav.is-stacked {
	& ul {
		display: block;
		max-width: 200px;
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

.navigation-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 3vh;
	position: relative;
	background-color: var(--Black);
	& svg {
		/* svg styling based on orion lab line icons */
		/* adjust style specific for your icon set */
		vertical-align: text-top;
		height: 70px;
		width: 200px;
		position: relative;
		z-index: 20000000;
		@media(--500vp) {
			width: 250px;
		}
	}
	&>nav {
		background: var(--Black);
		height: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: all .5s ease-in-out;
		width: 100vw;
		overflow: hidden;
		&.is-active {
			height: 100vh;
		}
		@media(--1024vp) {
			background-color: transparent;
			height: auto;
			max-width: calc(100% - 250px);
			position: initial;
			width: auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			overflow: visible;
		}
		&>span {
			display: none;
			cursor: pointer;
			@media(--800vp) {
				display: block;
			}
			& svg {
				height: 2em;
				width: 2em;
				margin: 0 0 0 1em;
				display: inline;
				fill: var(--White);
			}
		}
		& ul {
			margin: 0 auto;
			max-width: 100%;
			flex-wrap: wrap;
			margin: 0;
			@media(800vp) {
				width: 85vw;
				max-width: 400px;
			}
			@media(--1024vp) {
				flex-wrap: nowrap;
				justify-content: flex-end;
				max-width: 100%;
			}
			&:last-of-type {
				display: none;
			}
			& li {
				width: 100%;
				@media(--1024vp) {
					width: auto;
				}
				&.active a::after {
					background-color: var(--Primary);
				}
				& a {
					font-size: 20px;
					text-align: center;
					background-color: transparent;
					color: var(--White);
					position: relative;
					line-height: 1;
					letter-spacing: 1px;
					@media(--800vp) {
						font-size: 14px;
						text-align: initial;
						line-height: 2;
						&::after {
							content: '';
							position: absolute;
							height: 6px;
							width: 100%;
							bottom: -24px;
							left: 0;
							background-color: transparent;
							transition: all .35s linear;
						}
						&:hover,
						&:focus {
							&::after {
								background-color: var(--Primary);
							}
						}
					}
				}
			}
		}
		& .phone {
			display: block;
			color: var(--Primary);
			text-align: center;
			font-size: 30px;
			text-decoration: none;
			font-family: Muli;
			margin: 4em 0 2em 0;
			@media(--800vp) {
				display: none;
			}
		}
		& .social {
			display: flex;
			justify-content: center;
			margin: 3em 0;
			@media(--800vp) {
				display: none;
			}
			& .widget_media_image {
				padding: 0 1em;
				display: flex;
				justify-content: center;
				align-items: center;
				&:first-child {
					padding: 0 1em 0 0;
				}
				&:last-child {
					padding: 0 0 0 1em;
				}
				& img {
					width: 45px;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		SHAMBURGER MENU
\*----------------------------------------------------------------*/

.hamburger-menu {
	display: inline-block;
	padding: 0 0 0 1em;
	position: relative;
	z-index: 20000000;
	& svg {
		width: 30px !important;
		height: 30px;
	}
	& svg:last-child {
		display: none;
	}
	&.is-active {
		& svg {
			&:first-child {
				display: none;
			}
			&:last-child {
				display: inline-block;
			}
		}
	}
	@media(--1024vp) {
		display: none;
	}
}

.search-open {
	display: inline-block;
	padding: 0 1em 0 0;
	border-right: 1px solid white;
	position: relative;
	z-index: 20000000;
	& svg {
		width: 30px !important;
		height: 30px;
		fill: var(--Primary);
	}
	@media(--1024vp) {
		display: none;
	}
}

/*----------------------------------------------------------------*\
		TOP NAV
\*----------------------------------------------------------------*/

.top-navigation-block {
	padding: 0 3vh;
	background-color: var(--Grey);
	display: none;
	@media(--800vp) {
		display: block;
	}
	& ul {
		justify-content: flex-end;
		margin: 0;
		& li {
			line-height: 1;
			&:last-child a {
				background-color: var(--Primary);
				color: var(--White);
				&:hover,
				&:focus {
					background-color: var(--PrimaryHover);
					color: var(--White);
					text-decoration: none;
				}
			}
			& a {
				font-size: .8em;
				letter-spacing: 1px;
				color: var(--Black);
				background-color: transparent;
				&:hover,
				&:focus {
					color: var(--Black);
					background-color: transparent;
					text-decoration: underline;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		SEARCH
\*----------------------------------------------------------------*/

section.search {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 100%;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 50000000;
	overflow: hidden;
	transition: all .5s linear;
	&.is-active {
		bottom: 0;
	}
	&>span {
		display: block;
		cursor: pointer;
		& svg {
			position: absolute;
			top: 20vh;
			right: 5vw;
			width: 30px;
			height: 30px;
			@media(--1024vp) {
				right: 10vw;
			}
		}
	}
	& form {
		position: absolute;
		top: 35vh;
		left: 50%;
		transform: translateX(-50%);
		width: 90vw;
		max-width: 800px;
		&::after {
			content: '';
			position: absolute;
			height: 1px;
			width: 100%;
			background-color: var(--White);
			margin-top: -14px;
		}
		& input {
			background-color: transparent;
			border: 0;
			font-size: 50px;
			line-height: 1;
			padding: 0;
			color: var(--White);
			font-family: 'clear_sans_thinregular';
			&::-webkit-input-placeholder {
				color: var(--White);
			}
			&::-moz-placeholder {
				color: var(--White);
			}
			&:-ms-input-placeholder {
				color: var(--White);
			}
			&:-moz-placeholder {
				color: var(--White);
			}
		}
		& button {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: transparent;
			border-color: transparent;
			color: var(--White);
			font-weight: bold;
			letter-spacing: 2px;
			padding: 0 .75em 1em 0;
		}
	}
}