/*----------------------------------------------------------------*\
	POST PREVIEW
\*----------------------------------------------------------------*/
.preview-post {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 2px;
	background-color: var(--White);

	& .chip {
		position: absolute;
		top: var(--SmallSpacing);
		left: 0;
		border-radius: 0;
		padding: .5em var(--SmallSpacing);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 12px;
		z-index: 10;
	}

	& h1 {
		font-size: 36px;
		position: absolute;
		top: var(--Spacing);
		left: 0;
		padding: 0 var(--SmallSpacing);
		z-index: 10;
	}

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	& p {
		flex: auto;
	}

	& .featured-image {
		margin-top: 0;
		overflow: hidden;
		height: 250px;
		position: relative;

		@media(--500vp) {
			height: 300px;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0) 100%);
		}

		& img {
			width: 100%;
			display: block;
			transition: all .5s ease-in-out;
		}
	}

	& .is-padded {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	& .buttons {
		margin-top: 1.5em;

		& .button {
			font-weight: bold;
			letter-spacing: 2px;
			padding: .75em 3em;
		}
	}

	&:hover,
	&:focus {

		& .button,
		& button {
			border-color: var(--BlackHover);
			background-color: var(--BlackHover);
			color: var(--White);
		}

		& img {
			transform: scale(1.1);
		}
	}
}

/*----------------------------------------------------------------*\
	TEAM PREVIEW
\*----------------------------------------------------------------*/
.preview-team {
	min-height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;

	&>a:first-child {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	& .info {
		position: absolute;
		left: 35px;
		bottom: 35px;
		z-index: 2;

		& a {
			text-decoration: none;
		}

		& h3 {
			margin: 10px 0;
			color: var(--White);
			letter-spacing: 1px;
			transition: all .35s linear;

			&:hover,
			&:focus {
				color: var(--Primary);
			}
		}

		& p {
			text-transform: uppercase;
			color: var(--White);
			font-weight: bold;
			letter-spacing: 1px;
			margin: 10px 0;
		}

		& .contact-buttons {
			margin-left: -6px;

			& .button {
				margin: 0;

				& svg {
					width: 20px;
					height: 18px;
				}
			}
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 100%);
	}
}